@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,300;1,400;1,900&family=Roboto+Mono:wght@500&family=Roboto:ital,wght@0,100;0,500;0,700;1,400;1,500&display=swap');

body{ 
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  flex: auto;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 90%;
}

p{
  font-family: 'Lato', sans-serif;
  font-size: small;
  margin: 2px;
}

span.titulo{
  margin: 10px;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  text-align: center;
  font-weight: bold;
}

.graficos{
  flex: auto;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 10px auto;
  align: auto;
}

.grafico{
  border: none;
  flex: auto;
  display: flex;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.15);
  background-color: #E0E0E0;
  margin-bottom: 10px;
}

input{
  border: none;
	border-radius: 5px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
	background: #e0e0e0;
  text-align: center;
}

.vectorcontainer{
  flex: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
  padding-bottom: 5px;
}

.togglecontainer{
  flex: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
  padding-bottom: 5px;
}

.input_label{
  display: flex;
  flex-direction: column;
}

.numberinput{
  color: black;
  height: 20px;
  width: 100px;
	cursor: pointer;
	display: flex;
}

.botao{
	height: 30px;
	cursor: pointer;
	display: flex;
	border: none;
	border-radius: 5px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
	background: #04AA6D;
  text-align: center;
}

.slidecontainer {
    flex: auto;
    max-width: 100%;
    margin: 5px;
  }

.controles{
    flex: auto;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.15);
    background-color:#ffff;
    max-width: 100%;
    margin: 5px auto;
    max-height: 100%;
    padding: 5px;
}
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 20px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #04AA6D;
    cursor: pointer;
  }

